.outerContainer, .container{
    margin: 5%;
    background-color: inherit;
}

input:hover{
    transform: scale(1.1);
}

input{
    background-color: inherit;
}

td{
    justify-content: center; 
    align-items: center;
}